/*Step 2. the page is turned skyblue by using background-color to style the body element. */
body {
  background-color: skyblue;
}
/*Step 3. the font is changed for "igottabeme" by using the # id selector*/
#igottabeme{ font-family: Arial, Helvetica, sans-serif; }
/*Step 4. the selector .class is used to indent the margin of all the elements with the the class attribute "classy" */
.classy{margin-left: 10px;}
/*Step 5. div elements are styled to have a bottom margin*/
div{margin-bottom: 50px;}
span {
  width: 100px;
  height: 50px;
  padding: 5px 20px;
  border-style: solid;
  border-color: blue;
  border-width: 5px;
  background-color: yellow;
}
span.a{}
span.b{display: block;}
span.c{position: relative; display: inline-block;}
img[alt="cat icon"]{position: fixed; bottom: 0; right: 0;}
img[alt="dog icon"]{position: relative; left: -50px; top: -150px;}
#positionMe{background-color: orange;}
img[alt="bird icon"]{position: relative; left: 250px; top: 200px;}
nav {
 position: sticky;
 padding: 5px;
 background-color:rgba(0,255,0,0.9);
 font-size: 20px;
 top: 0;
}
