body {
  background-color: skyblue;
}
#igottabeme{ font-family: Arial, Helvetica, sans-serif; }
.classy{margin-left: 10px;}
div{margin-bottom: 50px;}
span {
  width: 100px;
  height: 50px;
  padding: 5px 20px;
  border-style: solid;
  border-color: blue;
  border-width: 5px;
  background-color: yellow;
}
