/*Step 2. the page is turned skyblue by using background-color to style the body element. */
body {
  background-color: skyblue;
}
/*Step 3. the font is changed for "igottabeme" by using the # id selector*/
#igottabeme{ font-family: Arial, Helvetica, sans-serif; }
/*Step 4. the selector .class is used to indent the margin of all the elements with the the class attribute "classy" */
.classy{margin-left: 10px;}
/*Step 5. div elements are styled to have a bottom margin*/
div{margin-bottom: 50px;}
/*Step 6. the span elements aliquam and venenatis are styled */ 
span {
  width: 100px;
  height: 50px;
  padding: 5px 20px;
  border-style: solid;
  border-color: blue;
  border-width: 5px;
  background-color: yellow;
}
/* Step 7. (next three lines) applies different traits to each of the different classes in the span */
span.a{}
span.b{display: block;}
span.c{position: relative; display: inline-block;}
/*Step 8. The cat icon is styled to be fixed to the bottom right of the page and to be in front of other elements */
img[alt="cat icon"]{position: fixed; bottom: 0; right: 0;}
/*Step 9. the dog icon is styled to move up and left relative to where it was */
img[alt="dog icon"]{position: relative; left: -50px; top: -150px;}
/*Step 10. makes the positionMe div orange and moves the bird icon inside it */
#positionMe{background-color: orange;}
img[alt="bird icon"]{position: relative; left: 250px; top: 200px;}
/*Step 11. styles the nav bar to sick to the top when scrolling as well as be green */ 
nav {
 position: sticky;
 padding: 5px;
 background-color:rgba(0,255,0,0.9);
 font-size: 20px;
 top: 0;
}
/* --- pre-existing css --- */
/* Step 12. the pre-existing CSS given is modified slightly to work with my page and give the table zebra stipes, a yellow hover, and right align. */
tr:nth-child(even) {
  background-color: gray;
}
tr:nth-child(odd) {
  background-color: white;
}
th {
  color: white;
  background-color: black;
}
td:hover {
  background-color: yellow;
}
td {
  text-align: right;
}
/*Step 13. the pre-existing CSS given is again modified slightly to work and gives the input boxes a pink background when focused. */
input[type="text"]:focus {
  background-color: pink;
}
